# Անտեսում ենք վիրտուալ միջավայրը և քեշերը
__pycache__/
venv/
env/
.env

# Անտեսում ենք ծանր տվյալների բազաները
*.csv

# Անտեսում ենք պահպանված ML մոդելները
*.pkl

# Անտեսում ենք նկարները (եթե չես ուզում գրաֆիկները գնան GitHub)
# *.png